center_code/uploads/
center_code/uploads/**
center_code/backend/.env
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.log
node_modules/
dist/
build/

center_code/backend/utils/money_printer/tasks/
center_code/backend/utils/money_printer/tasks/**
